<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div fxFlex="40">
        <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h3>{{plat.nom | uppercase}}</h3>
              </mat-card-title>
            </mat-card-header>
             <img mat-card-image src={{plat.image}} alt={{plat.nom}}>
            <mat-card-content>
              <p>{{plat.description}}
              </p>
            </mat-card-content>
              <mat-card-actions>
                <button mat-button>J'aime</button>
                <button mat-button>Partager</button>
            </mat-card-actions>
        </mat-card>
            
   
    </div>
    
        
        <div fxFlex="40" *ngIf="plat">
            <h2>Commentaires</h2>
            <mat-list>
            <mat-list-item *ngFor="let comment of plat.commentaires">
            <p matLine> {{comment.commentaire}} </p>
            <p matLine> {{comment.score}} Etoiles </p>
            <p matLine> --{{comment.auteur}} {{comment.date | date}} </p>
            </mat-list-item>
            </mat-list>
            </div>
            
    
</div> 